<template name="header">
    <header>
        <h1 class="center-align">My Todo List!</h1>
    </header>
</template>

<template name="form">
    <form class="add-new-task">
        <div class="input-field">
            <input type="text" placeholder="Add A New Task" />
        </div>
        <div class="center-button">
            <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="todos">
    <ul class="collection">
        {{#each todoList}}
        <li class="collection-item {{#if this.complete}}completed{{/if}}">
            {{this.name}}
            <div class="secondary-content">
                {{> completeCheck this}}
                <a class="delete-task"><i class="material-icons">delete</i></a>
                <a class="edit-task"><i class="material-icons">edit</i></a>
            </div>
        </li>
        {{/each}}
    </ul>
</template>
<template name="completeCheck">
    {{#unless this.complete}}
    <a class="complete-task"><i class="material-icons">done</i></a> {{else}}
    <a class="incomplete-task"><i class="material-icons">not_interested</i></a> {{/unless}}
</template>
<template name="background">
    <div class="container">
        <!-- for sections with fixed background-->
        <div class="fixed-bg bg-1 parent-vcenter">

            <div class="child-vcenter">
            </div>
        </div>
        <div class="parent-vcenter">
            <div class="child-vcenter pad-me">
            </div>
        </div>
        <div class="fixed-bg bg-2 pad-me">
            <div>

            </div>
        </div>
    </div>
</template>
<template name="nav">

    <div class="hamburger">
        <div class="top"></div>
        <div class="middle"></div>
        <div class="bottom"></div>
    </div>

    <div class="menu">
        <ul>
            <li>
                <a href="http://ubuntuserver:3000">Index</a>
            </li>
            <li>Buy</li>
            <li>Contact</li>
            <li>AceXintense</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
        </ul>
    </div>
</template>