* {
    box-sizing: border-box;
}

html,
body,
.container {
    /*important*/
    height: 100%;
}

.fixed-bg {
    min-height: 100%;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repet;
    background-position: center;
    height: 100vh;
    color: #fff;
    /*to vertically align the content inside, a definite height should be set on the parent. min-height doesn't work.*/
}

.parent-vcenter {
    text-align: center;
}


/*ghost element for vertical centering*/

.parent-vcenter:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /*adjusts for spacing*/
}


/*content to be vertically centered*/

.child-vcenter {
    /*vertically center*/
    display: inline-block;
    vertical-align: middle;
}

.fixed-bg.bg-1 {
    background-image: url("https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/large/MeteorJS-twitter.png?1426699729");
}

.fixed-bg.bg-2 {
    background-image: url("https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/large/understanding_nginx_tw_1024.png?1427984981")
}


}
.scrolling-bg {
    /*min-height: 100%;*/
    
    height: 300px;
}
h1 {
    font-size: 10vh;
}
h2 {
    font-size: 1.5em;
}
.pad-me {
    padding: 20px;
}