body {
    background-color: rgb(100, 100, 100);
    font-family: Arial;
    color: grey;
}

.hamburger {
    background-color: rgb(200, 200, 200);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
    height: 50px;
    transition: linear, infinite, 1s;
}

.hamburger div {
    transition: linear, infinite, 1s;
}

.hamburger:hover {
    background-color: rgb(50, 50, 50);
    transition: linear, infinite, 1s;
}

.hamburger:hover div {
    width: 70px;
    transition: linear, infinite, 1s;
}

.top {
    background-color: rgb(150, 150, 150);
    width: 50px;
    height: 10px;
}

.middle {
    background-color: rgb(150, 150, 150);
    margin-top: 5px;
    width: 50px;
    height: 10px;
}

.bottom {
    background-color: rgb(150, 150, 150);
    margin-top: 5px;
    width: 50px;
    height: 10px;
}

.menu:hover + .hamburger,
.hamburger:hover {
    background-color: rgb(50, 50, 50);
}

.hamburger:hover + .menu,
.menu:hover {
    position: absolute;
    height: 290px;
    left: 8px;
    transition: linear, infinite, 2s;
}

.menu {
    width: 200px;
    position: absolute;
    left: -500px;
    background-color: rgba(0, 255, 150, .1);
    height: 0px;
    transition: linear, infinite, 6s;
}

.menu li {
    height: 40px;
    background-color: rgb(90, 90, 90);
    margin-top: 2px;
    list-style: none;
    line-height: 40px;
    text-align: center;
    transition: linear, infinite, 1s;
}

.menu li:hover {
    background-color: rgb(70, 70, 70);
    width: 300px;
    transition: linear, infinite, 1s;
}

.menu ul {
    margin: 0;
    padding: 0;
}